*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
body {
  color: #222;
  font-size: clamp(0.9rem, calc(0.8rem + 0.2vw), 1rem);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}
body h1 {
  font-family: "Roboto slab", serif;
  font-size: clamp(2.4rem, calc(2rem + 1vw), 3.2rem);
  font-weight: 400;
  line-height: 1.2;
  margin-top: clamp(8rem, calc(6rem + 8vw), 16rem);
  margin-bottom: clamp(4rem, calc(2rem + 8vw), 8rem);
}
body h2 {
  font-family: "Roboto slab", serif;
  font-size: clamp(1.6rem, calc(1.2rem + 0.66vw), 2.4rem);
  font-weight: 400;
  line-height: 1.2;
  margin-top: clamp(5rem, calc(3rem + 6vw), 10rem);
  margin-bottom: clamp(1rem, calc(0.5rem + 3vw), 2rem);
}
body h3 {
  font-family: "Roboto slab", sans;
  font-weight: clamp(1.2rem, calc(1rem + 0.33vw), 1.4rem);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1rem;
}
body > section {
  min-height: 40vh;
  align-items: center;
}
body > section > .credits {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: clamp(4rem, calc(2rem + 8vw), 8rem);
}
body > section > .credits > .author {
  color: #666;
  font-size: clamp(1.6rem, calc(1.2rem + 0.66vw), 2.4rem);
}
body > section > .credits > .curator {
  font-size: 1.2rem;
}
body > section > .credits > .curator > label {
  font-size: 0.8rem;
  color: #666;
  display: block;
}
body > section.about {
  background: #eee;
}
body > section.about > p {
  font-size: clamp(1.2rem, calc(1rem + 0.33vw), 1.4rem);
  margin: 2rem 0;
}
body > section > p,
body > section > div {
  margin-bottom: 2rem;
}
body > section > .result {
  position: relative;
}
body > section > .result .controls {
  background: #ccc;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  display: grid;
  gap: 0.5rem;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
}
body > section > .result .controls h4 {
  padding: 0;
  margin: 0;
}
body > section > .result canvas {
  border: 1px solid #ccc;
}
body > section > .result::after {
  content: "Вы можете нажать на холст для самостоятельного выбора точек";
  position: absolute;
  right: 0.5rem;
  bottom: 1rem;
  font-size: clamp(0.7rem, calc(0.6rem + 0.1vw), 0.8rem);
  color: #ccc;
  padding: 0 20px;
  background-image: url('../img/icon.svg');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 16px;
}
body > section > .tbd {
  height: 500px;
  border: 1px solid #ccc;
  background: #fafafa;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #ccc;
  font-size: clamp(2.4rem, calc(2rem + 1vw), 3.2rem);
  text-transform: uppercase;
  font-weight: 600;
}
body > section > .tbd::after {
  display: none;
}
body footer {
  background-color: #eee;
  margin-top: 6rem;
  padding-bottom: 5rem;
}
body footer > h2 {
  margin-top: clamp(2rem, calc(1rem + 6vw), 4rem);
  margin-bottom: clamp(1rem, calc(0.5rem + 3vw), 1.5rem);
}
body footer > h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
body footer > ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}
body footer > ul > li {
  font-size: clamp(0.9rem, calc(0.8rem + 0.2vw), 1rem);
  color: #222;
  margin: 0 0 0.5rem 0;
  padding: 0;
}
body footer > ul > li > a {
  display: block;
  font-size: clamp(0.7rem, calc(0.6rem + 0.1vw), 0.8rem);
}
.content-grid {
  --gap: clamp(1rem, 6vw, 3rem);
  --full: minmax(var(--gap), 1fr);
  --content: min(100ch, 100% - var(--gap) * 2);
  --feature: minmax(0, 5rem);
  display: grid;
  grid-template-columns: [full-start] var(--full) [feature-start] var(--feature) [content-start] var(--content) [content-end] var(--feature) [feature-end] var(--full) [full-end];
}
.content-grid > * {
  grid-column: content;
}
.content-grid .full {
  grid-column: full;
}
